{
  "name": "scssAmerike",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sass/main/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"style.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"compact\"},\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "sass",
      "sass/main"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "sass/_load-helpers.scss",
      "imports": [
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-bbpress.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/bbpress/_forum.scss",
        "sass/extra/bbpress/_search.scss",
        "sass/extra/bbpress/_notices.scss",
        "sass/extra/bbpress/_forms.scss",
        "sass/extra/bbpress/_widgets.scss",
        "sass/extra/bbpress/_profile.scss",
        "sass/extra/bbpress/_font-awesome.scss",
        "sass/extra/bbpress/_responsive.scss",
        "sass/extra/bbpress/_hide.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-buddypress.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/buddypress/_buttons.scss",
        "sass/extra/buddypress/_member.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-customizer.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/customizer/_chosen-select.scss",
        "sass/extra/customizer/_control-slider-ui.scss",
        "sass/extra/customizer/_control-sortable.scss",
        "sass/extra/customizer/_control-heading.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-editor-style.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-gallery-metabox.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-gravity-forms.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-layerslider.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-responsive.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/responsive/_responsive-grids.scss",
        "sass/extra/responsive/_visual-composer.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-rtl.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-sensei.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/sensei/_buttons.scss",
        "sass/extra/sensei/_courses.scss",
        "sass/extra/sensei/_lesson.scss",
        "sass/extra/sensei/_quiz.scss",
        "sass/extra/sensei/_messages.scss",
        "sass/extra/sensei/_breadcrumbs.scss",
        "sass/extra/sensei/_widgets.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-theme-panel.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-tribe-events-community.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-tribe-events.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/tribe-events/_subheading.scss",
        "sass/extra/tribe-events/_typography.scss",
        "sass/extra/tribe-events/_buttons.scss",
        "sass/extra/tribe-events/_notices.scss",
        "sass/extra/tribe-events/_calendar.scss",
        "sass/extra/tribe-events/_events-lists.scss",
        "sass/extra/tribe-events/_single-events.scss",
        "sass/extra/tribe-events/_widgets.scss",
        "sass/extra/tribe-events/_responsive.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-visual-composer-admin.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/vc-admin/_editor-tweaks.scss",
        "sass/extra/vc-admin/_module-icons.scss",
        "sass/extra/vc-admin/_custom-params.scss",
        "sass/extra/vc-admin/_chosen-selects.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-visual-composer-extend.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/vcex/_spacing.scss",
        "sass/extra/vcex/_heading.scss",
        "sass/extra/vcex/_bullets.scss",
        "sass/extra/vcex/_leader.scss",
        "sass/extra/vcex/_divider.scss",
        "sass/extra/vcex/_divider-dots.scss",
        "sass/extra/vcex/_divider-multicolor.scss",
        "sass/extra/vcex/_button.scss",
        "sass/extra/vcex/_countdown.scss",
        "sass/extra/vcex/_list-item.scss",
        "sass/extra/vcex/_icon.scss",
        "sass/extra/vcex/_icon-box.scss",
        "sass/extra/vcex/_post-terms.scss",
        "sass/extra/vcex/_pricing.scss",
        "sass/extra/vcex/_skillbar.scss",
        "sass/extra/vcex/_login-form.scss",
        "sass/extra/vcex/_newsletter.scss",
        "sass/extra/vcex/_search-bar.scss",
        "sass/extra/vcex/_recent-news.scss",
        "sass/extra/vcex/_teaser.scss",
        "sass/extra/vcex/_milestone.scss",
        "sass/extra/vcex/_image-swap.scss",
        "sass/extra/vcex/_navbar.scss",
        "sass/extra/vcex/_feature-box.scss",
        "sass/extra/vcex/_social-links.scss",
        "sass/extra/vcex/_terms-grid.scss",
        "sass/extra/vcex/_users-grid.scss",
        "sass/extra/vcex/_animated-text.scss",
        "sass/extra/vcex/_form-shortcode.scss",
        "sass/extra/vcex/_post-types-slider.scss",
        "sass/extra/vcex/_testimonials-slider.scss",
        "sass/extra/vcex/_post-types-grid.scss",
        "sass/extra/vcex/_blog-grid.scss",
        "sass/extra/vcex/_image-grid.scss",
        "sass/extra/vcex/_filter-buttons.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-visual-composer-iframe.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-visual-composer.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/vc/_column-margins.scss",
        "sass/extra/vc/_max-widths.scss",
        "sass/extra/vc/_negative-offsets.scss",
        "sass/extra/vc/_stretched-sections.scss",
        "sass/extra/vc/_center-row.scss",
        "sass/extra/vc/_video.scss",
        "sass/extra/vc/_button.scss",
        "sass/extra/vc/_custom-heading.scss",
        "sass/extra/vc/_column-styles.scss",
        "sass/extra/vc/_call-to-action.scss",
        "sass/extra/vc/_widgets.scss",
        "sass/extra/vc/_toggles.scss",
        "sass/extra/vc/_single-image.scss",
        "sass/extra/vc/_separator.scss",
        "sass/extra/vc/_google-map.scss",
        "sass/extra/vc/_pie-chart.scss",
        "sass/extra/vc/_text-block.scss",
        "sass/extra/vc/_old-tabs.scss",
        "sass/extra/vc/_old-tours.scss",
        "sass/extra/vc/_old-accordions.scss",
        "sass/extra/vc/_old-text-separator.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-widget-areas.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-woocommerce-responsive.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/extra/wpex-woocommerce.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/extra/woocommerce/_clear-floats.scss",
        "sass/extra/woocommerce/_buttons.scss",
        "sass/extra/woocommerce/_borders.scss",
        "sass/extra/woocommerce/_notices.scss",
        "sass/extra/woocommerce/_star-ratings.scss",
        "sass/extra/woocommerce/_quantity-buttons.scss",
        "sass/extra/woocommerce/_shop.scss",
        "sass/extra/woocommerce/_product-entry.scss",
        "sass/extra/woocommerce/_product-single.scss",
        "sass/extra/woocommerce/_categories.scss",
        "sass/extra/woocommerce/_widgets.scss",
        "sass/extra/woocommerce/_cart.scss",
        "sass/extra/woocommerce/_checkout.scss",
        "sass/extra/woocommerce/_order-received.scss",
        "sass/extra/woocommerce/_account.scss",
        "sass/extra/woocommerce/_store-notice.scss",
        "sass/extra/woocommerce/_header-menu-cart-link.scss",
        "sass/extra/woocommerce/_header-cart-dropdown.scss",
        "sass/extra/woocommerce/_header-cart-overlay.scss",
        "sass/extra/woocommerce/_overlays.scss",
        "sass/extra/woocommerce/_accents.scss",
        "sass/extra/woocommerce/vendor/_swatch-control.scss",
        "sass/extra/woocommerce/_hidden.scss",
        "sass/extra/woocommerce/_font-awesome-icons.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss"
      ]
    },
    {
      "path": "sass/main/style.scss",
      "imports": [
        "sass/_load-helpers.scss",
        "sass/main/core/_browser-reset.scss",
        "sass/main/core/_browser-fixes.scss",
        "sass/main/core/_body.scss",
        "sass/main/core/_layout.scss",
        "sass/main/core/_grids.scss",
        "sass/main/core/_typography.scss",
        "sass/main/core/forms/_forms.scss",
        "sass/main/core/_buttons.scss",
        "sass/main/core/_error-404.scss",
        "sass/main/core/_wordpress-styles.scss",
        "sass/main/core/commons/_commons.scss",
        "sass/main/core/commons/_displays.scss",
        "sass/main/core/commons/_positions.scss",
        "sass/main/core/commons/_alignments.scss",
        "sass/main/core/commons/_max-widths.scss",
        "sass/main/core/commons/_margins.scss",
        "sass/main/core/commons/_paddings.scss",
        "sass/main/core/commons/_opacity.scss",
        "sass/main/core/commons/_fade-in.scss",
        "sass/main/core/commons/_border-radius.scss",
        "sass/main/core/commons/_backgrounds-borders.scss",
        "sass/main/core/commons/_term-tag.scss",
        "sass/main/core/commons/_responsive-media.scss",
        "sass/main/core/commons/_screen-reader-text.scss",
        "sass/main/core/commons/_image-styles.scss",
        "sass/main/core/commons/_image-hovers.scss",
        "sass/main/core/commons/_animation-hovers.scss",
        "sass/main/core/modules/_theme-heading.scss",
        "sass/main/core/modules/_post-edit-link.scss",
        "sass/main/core/modules/_social-buttons.scss",
        "sass/main/core/modules/_background-overlay.scss",
        "sass/main/core/modules/_parallax-backgrounds.scss",
        "sass/main/core/modules/_video-backgrounds.scss",
        "sass/main/core/modules/_image-overlays.scss",
        "sass/main/core/modules/_slider.scss",
        "sass/main/core/modules/_carousel.scss",
        "sass/main/core/modules/_breadcrumbs.scss",
        "sass/main/core/modules/_pagination.scss",
        "sass/main/core/modules/_page-slider.scss",
        "sass/main/core/modules/_post-meta.scss",
        "sass/main/core/modules/_author-bio.scss",
        "sass/main/core/modules/_post-series.scss",
        "sass/main/core/modules/_social-share.scss",
        "sass/main/core/modules/_comments.scss",
        "sass/main/core/modules/_scroll-top.scss",
        "sass/main/core/site-parts/_togglebar.scss",
        "sass/main/core/site-parts/_topbar.scss",
        "sass/main/core/site-parts/header/_header-core.scss",
        "sass/main/core/site-parts/header/_logo.scss",
        "sass/main/core/site-parts/header/menu/_menu.scss",
        "sass/main/core/site-parts/header/_full-width.scss",
        "sass/main/core/site-parts/header/_sticky.scss",
        "sass/main/core/site-parts/header/header-styles/_header-one.scss",
        "sass/main/core/site-parts/header/header-styles/_header-two.scss",
        "sass/main/core/site-parts/header/header-styles/_header-three.scss",
        "sass/main/core/site-parts/header/header-styles/_header-four.scss",
        "sass/main/core/site-parts/header/header-styles/_header-five.scss",
        "sass/main/core/site-parts/header/header-styles/_header-six.scss",
        "sass/main/core/site-parts/header/mobile-menu/_mobile-menu.scss",
        "sass/main/core/site-parts/header/menu/_menu-dropdown-styles.scss",
        "sass/main/core/site-parts/header/menu/_menu-mega-dropdowns.scss",
        "sass/main/core/site-parts/header/_header-overlay.scss",
        "sass/main/core/site-parts/_page-header.scss",
        "sass/main/core/site-parts/_sidebar.scss",
        "sass/main/core/site-parts/_page.scss",
        "sass/main/core/site-parts/_entry.scss",
        "sass/main/core/templates/_login-page.scss",
        "sass/main/core/templates/_attachment.scss",
        "sass/main/core/widgets/_widgets.scss",
        "sass/main/core/widgets/_widget-icons.scss",
        "sass/main/core/widgets/_widget-borders.scss",
        "sass/main/core/widgets/wp/_tagcloud.scss",
        "sass/main/core/widgets/wp/_calendar.scss",
        "sass/main/core/widgets/wp/_recent-posts.scss",
        "sass/main/core/widgets/wp/_custom-menu.scss",
        "sass/main/core/widgets/wp/_categories.scss",
        "sass/main/core/widgets/wp/_layered-nav.scss",
        "sass/main/core/widgets/custom/_facebook.scss",
        "sass/main/core/widgets/custom/_about.scss",
        "sass/main/core/widgets/custom/_flickr.scss",
        "sass/main/core/widgets/custom/_video.scss",
        "sass/main/core/widgets/custom/_google-map.scss",
        "sass/main/core/widgets/custom/_business-info.scss",
        "sass/main/core/widgets/custom/_users-grid.scss",
        "sass/main/core/widgets/custom/_modern-menu.scss",
        "sass/main/core/widgets/custom/_social-images.scss",
        "sass/main/core/widgets/custom/_social-font-awesome.scss",
        "sass/main/core/widgets/custom/_newsletter.scss",
        "sass/main/core/widgets/custom/_instagram.scss",
        "sass/main/core/widgets/custom/_comments-with-avatars.scss",
        "sass/main/core/widgets/custom/_posts-with-thumbnails.scss",
        "sass/main/core/widgets/custom/_posts-with-icons.scss",
        "sass/main/core/blog/entries/_blog-entries.scss",
        "sass/main/core/blog/entries/_blog-entry__full.scss",
        "sass/main/core/blog/entries/_blog-entry__grid.scss",
        "sass/main/core/blog/entries/_blog-entry__left-right.scss",
        "sass/main/core/blog/post/_blog-post.scss",
        "sass/main/core/blog/post/_thumbnail.scss",
        "sass/main/core/blog/post/_meta.scss",
        "sass/main/core/blog/post/_tags.scss",
        "sass/main/core/blog/post/_page-links.scss",
        "sass/main/core/blog/post/_related.scss",
        "sass/main/core/blog/post/_quote-format.scss",
        "sass/main/core/post-types/_cpt.scss",
        "sass/main/core/post-types/_portfolio.scss",
        "sass/main/core/post-types/_staff.scss",
        "sass/main/core/post-types/_testimonials.scss",
        "sass/main/core/search/_search-form.scss",
        "sass/main/core/search/_search-form-overlay.scss",
        "sass/main/core/search/_search-form-dropdown.scss",
        "sass/main/core/search/_search-form-header-replace.scss",
        "sass/main/core/search/_search-results.scss",
        "sass/main/core/site-parts/footer/_footer-callout.scss",
        "sass/main/core/site-parts/footer/_footer.scss",
        "sass/main/core/site-parts/footer/_footer-widgets.scss",
        "sass/main/core/site-parts/footer/_footer-bottom.scss",
        "sass/main/core/site-parts/footer/_footer-reveal.scss",
        "sass/main/core/_print.scss",
        "sass/main/core/_font-awesome-elements.scss",
        "sass/main/core/_color-accents.scss",
        "sass/main/vendor/_superfish.scss",
        "sass/main/vendor/_typed.scss",
        "sass/main/vendor/_tipsy.scss",
        "sass/main/vendor/_animsition.scss",
        "sass/main/vendor/_customSelects.scss",
        "sass/main/vendor/_leanModal.scss",
        "sass/main/vendor/_iLightbox.scss",
        "sass/main/vendor/_owlCarousel.scss",
        "sass/main/vendor/_sliderPro.scss",
        "sass/main/vendor/_fontAwesome.scss",
        "sass/main/vendor/_revolution-slider.scss",
        "sass/main/vendor/_polylang.scss",
        "sass/main/vendor/_wpml.scss",
        "sass/main/core/_resets.scss",
        "sass/_mixins.scss",
        "sass/_variables.scss",
        "sass/_functions.scss",
        "sass/main/core/forms/_contact-form-7.scss",
        "sass/main/core/forms/_custom-styles.scss",
        "sass/main/core/forms/_full-width.scss",
        "sass/main/core/forms/_login-form.scss",
        "sass/main/core/site-parts/header/mobile-menu/toggles/_icon-buttons.scss",
        "sass/main/core/site-parts/header/mobile-menu/toggles/_fixed-top.scss",
        "sass/main/core/site-parts/header/mobile-menu/toggles/_navbar.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_sidr.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_toggle-nav.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_overlay.scss"
      ]
    },
    {
      "path": "sass/main/core/forms/_forms.scss",
      "imports": [
        "sass/main/core/forms/_contact-form-7.scss",
        "sass/main/core/forms/_custom-styles.scss",
        "sass/main/core/forms/_full-width.scss",
        "sass/main/core/forms/_login-form.scss"
      ]
    },
    {
      "path": "sass/main/core/site-parts/header/header-styles/_header.scss",
      "imports": [
        "sass/main/core/site-parts/header/header-styles/_header-one.scss",
        "sass/main/core/site-parts/header/header-styles/_header-two.scss",
        "sass/main/core/site-parts/header/header-styles/_header-three.scss",
        "sass/main/core/site-parts/header/header-styles/_header-four.scss",
        "sass/main/core/site-parts/header/header-styles/_header-five.scss",
        "sass/main/core/site-parts/header/header-styles/_header-six.scss"
      ]
    },
    {
      "path": "sass/main/core/site-parts/header/mobile-menu/_mobile-menu.scss",
      "imports": [
        "sass/main/core/site-parts/header/mobile-menu/toggles/_icon-buttons.scss",
        "sass/main/core/site-parts/header/mobile-menu/toggles/_fixed-top.scss",
        "sass/main/core/site-parts/header/mobile-menu/toggles/_navbar.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_sidr.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_toggle-nav.scss",
        "sass/main/core/site-parts/header/mobile-menu/styles/_overlay.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7880,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}